@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 205 74% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 205 74% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 205 74% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 66% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215.4 16.3% 89.8%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 215.4 16.3% 89.8%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 283 44% 47%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215.4 16.3% 80%;
    --input: 215.4 16.3% 85%;
    --ring: 207 66% 62%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 207 66% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215.4 16.3% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215.4 16.3% 15%;
    --muted-foreground: 215.4 16.3% 66.9%;
    --accent: 283 44% 47%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215.4 16.3% 15%;
    --input: 215.4 16.3% 15%;
    --ring: 207 66% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
